* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
    overflow-x: hidden;
}

body {
    background-image: url('slike/backgroung.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.container{
        top: 50%;
        left: 50%;
        transform: translateX(-55%);
        border-radius: 75px;
        height: 650px;
        width: 850px;
        border: 5px solid red;
        padding-top: 50px;
        margin: 15px;
        position: relative;
        
}

.item-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-55%) translateY(-57%);
        height: 605px;
        width: 765px;
        padding-top: 50px;
        margin: 20px;
        position: relative;
}

.first-item-img {
    height: 350px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-45%) translateY(-70%);
}

.title-item{
    text-align: center;
    color: red;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translateX(5%) translateY(-150%);
}

.item-description{
    text-align: center;
    color: red;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 50px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translateX(25%) translateY(700%);
}

.description{
    text-align: center;
    color: red;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 350px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translateX(25%) translateY(100%);
}

.price{
    text-align: center;
    padding-left:60px ;
    color: red;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 50px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translateX(42%) translateY(215%);
}

.actions{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 50px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translateX(65%) translateY(130%);
}

.input{
    color: red;
    text-align: center;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translateX(-20%) translateY(-70%);
}

.button1{
  background-color: red; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-620%) translateY(-40%);
}

.button2{
    background-color: red; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px;
    top: 50%;
    left: 50%;
    transform: translateX(-620%) translateY(-40%);
  }

  .button3{
    background-color: red; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px;
    top: 50%;
    left: 50%;
    transform: translateX(-620%) translateY(-40%);
  }

  .button4{
    background-color: red; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px;
    top: 50%;
    left: 50%;
    transform: translateX(-620%) translateY(-40%);
  }

  .button5{
    background-color: red; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px;
  }

  .cart{
    padding-top: 50px;
    margin: 15px;
    height: 600px;
    width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-52%) translateY(-50%);
  }

  .cart-title{
    text-align: center;
    color: red;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-45%) translateY(-700%);
  }

  .cart-items{
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
    padding-left: 30px;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
  }

  .cart-total{
    float: right;
    position: absolute;
	bottom: 80px;
	right: 120px;
	font-size: 24px;
  }

  .cart-single-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.cart-single-item h3 {
	margin-bottom: 0;
}

.cart-single-item button {
	padding: 5px;
}

.cart-total {
	position: absolute;
	bottom: 50px;
	right:80px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: red;
}

